In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data = []
for i in range(50):
    url = f'https://quotes.toscrape.com/page/{i}/'
    r = requests.get(url)
    if r.status_code == 200:

        soup = BeautifulSoup(r.content, 'html.parser')
        quotes = soup.find_all('div', class_='quote')

        
        for quote in quotes:
            text = quote.find('span', class_='text').text
            author = quote.find('small', class_='author').text
            data.append({'Quote': text, 
                         'Author': author})

df = pd.DataFrame(data)

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
r = requests.get(url)
print(r.status_code)

200

In [135]:
pd.read_html(url)[0].head()

,Unnamed: 0,Location,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,–,World,8090897000,100%,23 Feb 2024,UN projection[3],NaN
1,1/2 [b],China,1409670000,17.4%,31 Dec 2023,Official estimate[5],[c]
2,1/2 [b],India,1392329000,17.2%,1 Jul 2023,Official projection[6],[d]
3,3,United States,335893238,4.2%,1 Jan 2024,Official estimate[7],[e]
4,4,Indonesia,279118866,3.4%,1 Jul 2023,National annual projection[8],NaN

In [129]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
tables = soup.findAll('table', class_='wikitable sortable sticky-header sort-under mw-datatable col2left col6left')
data = []

for table in tables:
    rows = table.find_all('tr')
    for row in rows:
        row_data = []
        cells = row.find_all(['th','td'])
        for cell in cells:
            row_data.append(cell.get_text(strip=True))
        #if row_data:
        data.append(row_data)

df = pd.DataFrame(data)
df.to_csv('countries_population.csv', index=False, header=False)
print("Data saved to 'countries_population.csv'")

Data saved to 'countries_population.csv'

In [134]:
df.head()

,0,1,2,3,4,5,6
0,,Location,Population,% ofworld,Date,Source (official or fromtheUnited Nations),
1,–,World,"8,090,897,000",100%,23 Feb 2024,UN projection[3],
2,1/2[b],China,"1,409,670,000",17.4%,31 Dec 2023,Official estimate[5],[c]
3,India,"1,392,329,000",17.2%,1 Jul 2023,Official projection[6],[d],None
4,3,United States,"335,893,238",4.2%,1 Jan 2024,Official estimate[7],[e]

In [167]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
r = requests.get(url)
html_data = r.text
soup = BeautifulSoup(html_data, 'html.parser')

row_data = []
tables =  soup.find_all('tbody')[1].find_all('tr')
for table in tables:
    date = table.find_all('td')[0].text.strip() 
    revenue = table.find_all('td')[1].text.strip().replace('$', '').replace(',', '')

In [171]:
url = 'https://en.wikipedia.org/wiki/The_World%27s_Billionaires#Annual_listings'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
df1 = pd.read_html(url)[3]

In [172]:
df1

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Elon Musk,$219 billion,50,United States/ South Africa,"Tesla, SpaceX"
1,2,Jeff Bezos,$177 billion,58,United States,Amazon
2,3,Bernard Arnault & family,$158 billion,73,France,LVMH
3,4,Bill Gates,$129 billion,66,United States,Microsoft
4,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway
5,6,Larry Page,$111 billion,49,United States,Google
6,7,Sergey Brin,$107 billion,48,United States,Google
7,8,Larry Ellison,$106 billion,77,United States,Oracle Corporation
8,9,Steve Ballmer,$91.4 billion,66,United States,Microsoft
9,10,Mukesh Ambani,$90.7 billion,64,India,Reliance Industries

In [173]:
df1.shape

(10, 6)

In [174]:
#split columns
df1[["First_Name", "Last_Name"]] = df1["Name"].str.split(n=1, expand=True)

In [175]:
df1

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth,First_Name,Last_Name
0,1,Elon Musk,$219 billion,50,United States/ South Africa,"Tesla, SpaceX",Elon,Musk
1,2,Jeff Bezos,$177 billion,58,United States,Amazon,Jeff,Bezos
2,3,Bernard Arnault & family,$158 billion,73,France,LVMH,Bernard,Arnault & family
3,4,Bill Gates,$129 billion,66,United States,Microsoft,Bill,Gates
4,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway,Warren,Buffett
5,6,Larry Page,$111 billion,49,United States,Google,Larry,Page
6,7,Sergey Brin,$107 billion,48,United States,Google,Sergey,Brin
7,8,Larry Ellison,$106 billion,77,United States,Oracle Corporation,Larry,Ellison
8,9,Steve Ballmer,$91.4 billion,66,United States,Microsoft,Steve,Ballmer
9,10,Mukesh Ambani,$90.7 billion,64,India,Reliance Industries,Mukesh,Ambani

In [176]:
df1.drop('Name', axis=1, inplace=True)

In [177]:
df1

,No.,Net worth (USD),Age,Nationality,Primary source(s) of wealth,First_Name,Last_Name
0,1,$219 billion,50,United States/ South Africa,"Tesla, SpaceX",Elon,Musk
1,2,$177 billion,58,United States,Amazon,Jeff,Bezos
2,3,$158 billion,73,France,LVMH,Bernard,Arnault & family
3,4,$129 billion,66,United States,Microsoft,Bill,Gates
4,5,$118 billion,91,United States,Berkshire Hathaway,Warren,Buffett
5,6,$111 billion,49,United States,Google,Larry,Page
6,7,$107 billion,48,United States,Google,Sergey,Brin
7,8,$106 billion,77,United States,Oracle Corporation,Larry,Ellison
8,9,$91.4 billion,66,United States,Microsoft,Steve,Ballmer
9,10,$90.7 billion,64,India,Reliance Industries,Mukesh,Ambani

In [178]:
df1.loc[6, 'Age'] = 50

In [179]:
df1

,No.,Net worth (USD),Age,Nationality,Primary source(s) of wealth,First_Name,Last_Name
0,1,$219 billion,50,United States/ South Africa,"Tesla, SpaceX",Elon,Musk
1,2,$177 billion,58,United States,Amazon,Jeff,Bezos
2,3,$158 billion,73,France,LVMH,Bernard,Arnault & family
3,4,$129 billion,66,United States,Microsoft,Bill,Gates
4,5,$118 billion,91,United States,Berkshire Hathaway,Warren,Buffett
5,6,$111 billion,49,United States,Google,Larry,Page
6,7,$107 billion,50,United States,Google,Sergey,Brin
7,8,$106 billion,77,United States,Oracle Corporation,Larry,Ellison
8,9,$91.4 billion,66,United States,Microsoft,Steve,Ballmer
9,10,$90.7 billion,64,India,Reliance Industries,Mukesh,Ambani

In [180]:
#rearrange columns
df1 = df1[['No.', 'First_Name', 'Last_Name', 'Net worth (USD)', 'Age', 'Nationality', 'Primary source(s) of wealth']]

In [181]:
df1

,No.,First_Name,Last_Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Elon,Musk,$219 billion,50,United States/ South Africa,"Tesla, SpaceX"
1,2,Jeff,Bezos,$177 billion,58,United States,Amazon
2,3,Bernard,Arnault & family,$158 billion,73,France,LVMH
3,4,Bill,Gates,$129 billion,66,United States,Microsoft
4,5,Warren,Buffett,$118 billion,91,United States,Berkshire Hathaway
5,6,Larry,Page,$111 billion,49,United States,Google
6,7,Sergey,Brin,$107 billion,50,United States,Google
7,8,Larry,Ellison,$106 billion,77,United States,Oracle Corporation
8,9,Steve,Ballmer,$91.4 billion,66,United States,Microsoft
9,10,Mukesh,Ambani,$90.7 billion,64,India,Reliance Industries

In [184]:
#rename columns
df1.rename(columns={'Last_Name': 'Last Name', 'First_Name': 'First Name'}, inplace=True)

In [185]:
df1

,No.,First Name,Last Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Elon,Musk,$219 billion,50,United States/ South Africa,"Tesla, SpaceX"
1,2,Jeff,Bezos,$177 billion,58,United States,Amazon
2,3,Bernard,Arnault & family,$158 billion,73,France,LVMH
3,4,Bill,Gates,$129 billion,66,United States,Microsoft
4,5,Warren,Buffett,$118 billion,91,United States,Berkshire Hathaway
5,6,Larry,Page,$111 billion,49,United States,Google
6,7,Sergey,Brin,$107 billion,50,United States,Google
7,8,Larry,Ellison,$106 billion,77,United States,Oracle Corporation
8,9,Steve,Ballmer,$91.4 billion,66,United States,Microsoft
9,10,Mukesh,Ambani,$90.7 billion,64,India,Reliance Industries

In [101]:
url = "https://en.wikipedia.org/wiki/World_population"
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')
table = soup.find('table', class_="wikitable sortable")
titles = []
headers = table.find_all("th")
for header in headers:
    title = header.text.strip()
    titles.append(title)
df = pd.DataFrame(columns=titles)

row_data = []
rows = table.find_all("tr")
for row in rows:
    detail = row.find_all("td")
    if detail:
        row_data.append([info.text.strip() for info in detail])

for idx, rw in enumerate(row_data):
    df.loc[idx] = rw
df

,Region,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,"4,641","1,418,459,382 – India","13,515,000 – Tokyo Metropolis(37,400,000 – G..."
1,Africa,44.4,"1,340","0,211,401,000 – Nigeria","09,500,000 – Cairo(20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million i...","13,200,000 – Moscow(20,004,000 – Moscow metr..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City(21,650,000 – São..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City(23,582,649 – New ..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[89],N/A[note 2],"00,001,258 – McMurdo Station"

In [108]:
url = "https://en.wikipedia.org/wiki/The_World's_Billionaires"
re = requests.get(url)
soup = BeautifulSoup(re.text, "lxml")

table = soup.find("table", class_="wikitable sortable")
titles = []
headers = table.findAll("th")
for header in headers:
    titles.append(header.text.strip())
df1 = pd.DataFrame(columns=titles)

row_data = []
details = table.find_all("tr")
for detail in details:
    rows = [row.text.strip() for row in detail.findAll("td")]
    if rows:  #to get rid of empty list
        row_data.append(rows)
for idx, row in enumerate(row_data):
    df1.loc[idx] = row

df1

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault & family,$211 billion,74,France,LVMH
1,2,Elon Musk,$180 billion,51,United States/ South Africa,"Tesla, SpaceX"
2,3,Jeff Bezos,$114 billion,59,United States,Amazon
3,4,Larry Ellison,$107 billion,78,United States,Oracle Corporation
4,5,Warren Buffett,$106 billion,92,United States,Berkshire Hathaway
5,6,Bill Gates,$104 billion,67,United States,Microsoft
6,7,Michael Bloomberg,$94.5 billion,81,United States,Bloomberg L.P.
7,8,Carlos Slim & family,$93 billion,83,Mexico,"Telmex, América Móvil, Grupo Carso"
8,9,Mukesh Ambani,$83.4 billion,65,India,Reliance Industries
9,10,Steve Ballmer,$80.7 billion,67,United States,Microsoft

In [100]:
pd.read_html(url)[2]

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault & family,$211 billion,74,France,LVMH
1,2,Elon Musk,$180 billion,51,United States/ South Africa,"Tesla, SpaceX"
2,3,Jeff Bezos,$114 billion,59,United States,Amazon
3,4,Larry Ellison,$107 billion,78,United States,Oracle Corporation
4,5,Warren Buffett,$106 billion,92,United States,Berkshire Hathaway
5,6,Bill Gates,$104 billion,67,United States,Microsoft
6,7,Michael Bloomberg,$94.5 billion,81,United States,Bloomberg L.P.
7,8,Carlos Slim & family,$93 billion,83,Mexico,"Telmex, América Móvil, Grupo Carso"
8,9,Mukesh Ambani,$83.4 billion,65,India,Reliance Industries
9,10,Steve Ballmer,$80.7 billion,67,United States,Microsoft

In [41]:
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population"
r = requests.get(url)
soup = BeautifulSoup(r.text, "lxml")
tables = soup.find("table", class_="wikitable sortable")
headers = tables.find_all("th")
titles = []
for header in headers:
    titles.append(header.text.strip())
df2 = pd.DataFrame(columns=titles)

In [43]:
df3 = pd.read_html(url)[0]
df3

              State or territory Census population[8][a]                \
              State or territory     July 1, 2023 (est.) April 1, 2020
0                            NaN                     NaN           NaN
1                     California              38965193.0    39538223.0
2                          Texas              30503301.0    29145505.0
3                        Florida              22610726.0    21538187.0
4                       New York              19571216.0    20201249.0
..                           ...                     ...           ...
56  Northern Mariana Islands[13]                     NaN       47329.0
57      Contiguous United States             332746351.0   329260619.0
58                 The 50 states             334235923.0   330759736.0
59        The 50 states and D.C.             334914895.0   331449281.0
60      Total US and territories                     NaN   335073176.0

   Change, 2010–2020[8][a]           House seats[b]          \
                         %      Abs.          Seats       %
0                      NaN       NaN            NaN     NaN
1                    6.13%   2284267             52  11.95%
2                   15.91%   3999944             38   8.74%
3                   14.56%   2736877             28   6.44%
4                    4.25%    823147             26   5.98%
..                     ...       ...            ...     ...
56                 −12.16%    −6,554             1*       —
57                   7.36%  22585613      432 (+1*)  99.31%
58                   7.34%  22615921            435    100%
59                   7.35%  22703743      435 (+1*)    100%
60                   7.10%  22226684      435 (+6*)    100%

   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)  \
   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)
0                           NaN                     NaN         NaN
1                        732189                  760350     11.800%
2                        728638                  766987      8.698%
3                        717940                  769221      6.428%
4                        721473                  776971      6.029%
..                          ...                     ...         ...
56                            —                       —      0.014%
57                       627163                  757745     98.265%
58                       621729                  755796     98.713%
59                       619531                       —     98.918%
60                            —                       —        100%

   % EC (2020)
   % EC (2020)
0          NaN
1       10.04%
2        7.43%
3        5.58%
4        5.20%
..         ...
56           —
57      98.70%
58      99.44%
59        100%
60           —

[61 rows x 11 columns]

In [45]:
df3.drop(df3.index[0], inplace=True)

              State or territory Census population[8][a]                \
              State or territory     July 1, 2023 (est.) April 1, 2020
1                     California              38965193.0    39538223.0
2                          Texas              30503301.0    29145505.0
3                        Florida              22610726.0    21538187.0
4                       New York              19571216.0    20201249.0
5                   Pennsylvania              12961683.0    13002700.0
6                       Illinois              12549689.0    12812508.0
7                           Ohio              11785935.0    11799448.0
8                        Georgia              11029227.0    10711908.0
9                 North Carolina              10835491.0    10439388.0
10                      Michigan              10037261.0    10077331.0
11                    New Jersey               9290841.0     9288994.0
12                      Virginia               8715698.0     8631393.0
13                    Washington               7812880.0     7705281.0
14                       Arizona               7431344.0     7151502.0
15                     Tennessee               7126489.0     6910840.0
16                 Massachusetts               7001399.0     7029917.0
17                       Indiana               6862199.0     6785528.0
18                      Missouri               6196156.0     6154913.0
19                      Maryland               6180253.0     6177224.0
20                     Wisconsin               5910955.0     5893718.0
21                      Colorado               5877610.0     5773714.0
22                     Minnesota               5737915.0     5706494.0
23                South Carolina               5373555.0     5118425.0
24                       Alabama               5108468.0     5024279.0
25                     Louisiana               4573749.0     4657757.0
26                      Kentucky               4526154.0     4505836.0
27                        Oregon               4233358.0     4237256.0
28                      Oklahoma               4053824.0     3959353.0
29                   Connecticut               3617176.0     3605944.0
30                          Utah               3417734.0     3271616.0
31                          Iowa               3207004.0     3190369.0
32                   Puerto Rico               3205691.0     3285874.0
33                        Nevada               3194176.0     3104614.0
34                      Arkansas               3067732.0     3011524.0
35                        Kansas               2940546.0     2937880.0
36                   Mississippi               2939690.0     2961279.0
37                    New Mexico               2114371.0     2117522.0
38                      Nebraska               1978379.0     1961504.0
39                         Idaho               1964726.0     1839106.0
40                 West Virginia               1770071.0     1793716.0
41                        Hawaii               1435138.0     1455271.0
42                 New Hampshire               1402054.0     1377529.0
43                         Maine               1395722.0     1362359.0
44                       Montana               1132812.0     1084225.0
45                  Rhode Island               1095962.0     1097379.0
46                      Delaware               1031890.0      989948.0
47                  South Dakota                919318.0      886667.0
48                  North Dakota                783926.0      779094.0
49                        Alaska                733406.0      733391.0
50          District of Columbia                678972.0      689545.0
51                       Vermont                647464.0      643077.0
52                       Wyoming                584057.0      576851.0
53                      Guam[10]                     NaN      153836.0
54       U.S. Virgin Islands[11]                     NaN       87146.0
55            American Samoa[12]                     NaN       49710.0
56  Northern Mariana Islands[13]                     NaN       47329.0
57      Contiguous United States             332746351.0   329260619.0
58                 The 50 states             334235923.0   330759736.0
59        The 50 states and D.C.             334914895.0   331449281.0
60      Total US and territories                     NaN   335073176.0

   Change, 2010–2020[8][a]           House seats[b]          \
                         %      Abs.          Seats       %
1                    6.13%   2284267             52  11.95%
2                   15.91%   3999944             38   8.74%
3                   14.56%   2736877             28   6.44%
4                    4.25%    823147             26   5.98%
5                    2.36%    300321             17   3.91%
6                   −0.14%   −18,124             17   3.91%
7                    2.28%    262944             15   3.45%
8                   10.57%   1024255             14   3.22%
9                    9.48%    903905             14   3.22%
10                   1.96%    193691             13   2.99%
11                   5.65%    497100             12   2.76%
12                   7.88%    630369             11   2.53%
13                  14.58%    980741             10   2.30%
14                  11.88%    759485              9   2.07%
15                   8.90%    564735              9   2.07%
16                   7.37%    482288              9   2.07%
17                   4.65%    301726              9   2.07%
18                   2.77%    165986              8   1.84%
19                   6.99%    403672              8   1.84%
20                   3.64%    206732              8   1.84%
21                   14.8%    744518              8   1.84%
22                   7.59%    402569              8   1.84%
23                  10.66%    493061              7   1.61%
24                   5.12%    244543              7   1.61%
25                   2.74%    124385              6   1.38%
26                   3.84%    166469              6   1.38%
27                  10.60%    406182              6   1.38%
28                   5.54%    208002              5   1.15%
29                   0.89%     31847              5   1.15%
30                  18.37%    507731              4   0.92%
31                   4.73%    144014              4   0.92%
32                 −11.81%  −439,915             1*       —
33                  14.96%    404063              4   0.92%
34                   3.28%     95606              4   0.92%
35                   2.97%     84762              4   0.92%
36                  −0.20%    −6,018              4   0.92%
37                   2.83%     58343              3   0.69%
38                   7.40%    135163              3   0.69%
39                  17.32%    271524              2   0.46%
40                  −3.20%   −59,278              2   0.46%
41                   6.98%     94970              2   0.46%
42                   4.66%     61059              2   0.46%
43                   2.56%     33998              2   0.46%
44                   9.58%     94810              2   0.46%
45                   4.26%     44812              2   0.46%
46                  10.25%     92014              1   0.23%
47                   8.90%     72487              1   0.23%
48                  15.83%    106503              1   0.23%
49                   3.26%     23160              1   0.23%
50                  14.60%     87822             1*       —
51                   2.77%     17336              1   0.23%
52                   2.35%     13225              1   0.23%
53                  −3.47%    −5,522             1*       —
54                 −18.10%   −19,259             1*       —
55                 −10.46%    −5,809             1*       —
56                 −12.16%    −6,554             1*       —
57                   7.36%  22585613      432 (+1*)  99.31%
58                   7.34%  22615921            435    100%
59                   7.35%  22703743      435 (+1*)    100%
60                   7.10%  22226684      435 (+6*)    100%

   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)  \
   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)
1                        732189                  760350     11.800%
2                        728638                  766987      8.698%
3                        717940                  769221      6.428%
4                        721473                  776971      6.029%
5                        684353                  764865      3.881%
6                        674343                  753677      3.824%
7                        694085                  786630      3.521%
8                        669494                  765136      3.197%
9                        652462                  745671      3.116%
10                       671822                  775179      3.008%
11                       663500                  774083      2.772%
12                       663953                  784672      2.576%
13                       642107                  770528      2.300%
14                       650137                  794611      2.134%
15                       628258                  767871      2.062%
16                       639083                  781102      2.098%
17                       616866                  753948      2.025%
18                       615491                  769364      1.837%
19                       617722                  772153      1.844%
20                       589372                  736715      1.759%
21                       577371                  721714      1.723%
22                       570649                  713312      1.703%
23                       568714                  731204      1.528%
24                       558253                  717754      1.499%
25                       582220                  776293      1.390%
26                       563230                  750973      1.345%
27                       529657                  706209      1.265%
28                       565622                  791871      1.182%
29                       515135                  721189      1.076%
30                       545269                  817904      0.976%
31                       531728                  797592      0.952%
32                            —                       —      0.981%
33                       517436                  776154      0.927%
34                       501921                  752881      0.899%
35                       489647                  734470      0.877%
36                       493547                  740320      0.884%
37                       423504                  705841      0.632%
38                       392301                  653835      0.585%
39                       459777                  919553      0.549%
40                       448429                  896858      0.535%
41                       363818                  727636      0.434%
42                       344382                  688765      0.411%
43                       340590                  681180      0.407%
44                       271056                  542113      0.324%
45                       274345                  548690      0.328%
46                       329983                  989948      0.295%
47                       295556                  886667      0.265%
48                       259698                  779094      0.233%
49                       244464                  733391      0.219%
50                       229848                       —      0.206%
51                       214359                  643077      0.192%
52                       192284                  576851      0.172%
53                            —                       —      0.046%
54                            —                       —      0.026%
55                            —                       —      0.015%
56                            —                       —      0.014%
57                       627163                  757745     98.265%
58                       621729                  755796     98.713%
59                       619531                       —     98.918%
60                            —                       —        100%

   % EC (2020)
   % EC (2020)
1       10.04%
2        7.43%
3        5.58%
4        5.20%
5        3.53%
6        3.53%
7        3.16%
8        2.97%
9        2.97%
10       2.79%
11       2.60%
12       2.42%
13       2.23%
14       2.04%
15       2.04%
16       2.04%
17       2.04%
18       1.86%
19       1.86%
20       1.86%
21       1.86%
22       1.86%
23       1.67%
24       1.67%
25       1.49%
26       1.49%
27       1.49%
28       1.30%
29       1.30%
30       1.12%
31       1.12%
32           —
33       1.12%
34       1.12%
35       1.12%
36       1.12%
37       0.93%
38       0.93%
39       0.74%
40       0.74%
41       0.74%
42       0.74%
43       0.74%
44       0.74%
45       0.74%
46       0.56%
47       0.56%
48       0.56%
49       0.56%
50       0.56%
51       0.56%
52       0.56%
53           —
54           —
55           —
56           —
57      98.70%
58      99.44%
59        100%
60           —

In [48]:
df3.reset_index(drop=True, inplace=True)
df3

              State or territory Census population[8][a]                \
              State or territory     July 1, 2023 (est.) April 1, 2020
0                     California              38965193.0    39538223.0
1                          Texas              30503301.0    29145505.0
2                        Florida              22610726.0    21538187.0
3                       New York              19571216.0    20201249.0
4                   Pennsylvania              12961683.0    13002700.0
5                       Illinois              12549689.0    12812508.0
6                           Ohio              11785935.0    11799448.0
7                        Georgia              11029227.0    10711908.0
8                 North Carolina              10835491.0    10439388.0
9                       Michigan              10037261.0    10077331.0
10                    New Jersey               9290841.0     9288994.0
11                      Virginia               8715698.0     8631393.0
12                    Washington               7812880.0     7705281.0
13                       Arizona               7431344.0     7151502.0
14                     Tennessee               7126489.0     6910840.0
15                 Massachusetts               7001399.0     7029917.0
16                       Indiana               6862199.0     6785528.0
17                      Missouri               6196156.0     6154913.0
18                      Maryland               6180253.0     6177224.0
19                     Wisconsin               5910955.0     5893718.0
20                      Colorado               5877610.0     5773714.0
21                     Minnesota               5737915.0     5706494.0
22                South Carolina               5373555.0     5118425.0
23                       Alabama               5108468.0     5024279.0
24                     Louisiana               4573749.0     4657757.0
25                      Kentucky               4526154.0     4505836.0
26                        Oregon               4233358.0     4237256.0
27                      Oklahoma               4053824.0     3959353.0
28                   Connecticut               3617176.0     3605944.0
29                          Utah               3417734.0     3271616.0
30                          Iowa               3207004.0     3190369.0
31                   Puerto Rico               3205691.0     3285874.0
32                        Nevada               3194176.0     3104614.0
33                      Arkansas               3067732.0     3011524.0
34                        Kansas               2940546.0     2937880.0
35                   Mississippi               2939690.0     2961279.0
36                    New Mexico               2114371.0     2117522.0
37                      Nebraska               1978379.0     1961504.0
38                         Idaho               1964726.0     1839106.0
39                 West Virginia               1770071.0     1793716.0
40                        Hawaii               1435138.0     1455271.0
41                 New Hampshire               1402054.0     1377529.0
42                         Maine               1395722.0     1362359.0
43                       Montana               1132812.0     1084225.0
44                  Rhode Island               1095962.0     1097379.0
45                      Delaware               1031890.0      989948.0
46                  South Dakota                919318.0      886667.0
47                  North Dakota                783926.0      779094.0
48                        Alaska                733406.0      733391.0
49          District of Columbia                678972.0      689545.0
50                       Vermont                647464.0      643077.0
51                       Wyoming                584057.0      576851.0
52                      Guam[10]                     NaN      153836.0
53       U.S. Virgin Islands[11]                     NaN       87146.0
54            American Samoa[12]                     NaN       49710.0
55  Northern Mariana Islands[13]                     NaN       47329.0
56      Contiguous United States             332746351.0   329260619.0
57                 The 50 states             334235923.0   330759736.0
58        The 50 states and D.C.             334914895.0   331449281.0
59      Total US and territories                     NaN   335073176.0

   Change, 2010–2020[8][a]           House seats[b]          \
                         %      Abs.          Seats       %
0                    6.13%   2284267             52  11.95%
1                   15.91%   3999944             38   8.74%
2                   14.56%   2736877             28   6.44%
3                    4.25%    823147             26   5.98%
4                    2.36%    300321             17   3.91%
5                   −0.14%   −18,124             17   3.91%
6                    2.28%    262944             15   3.45%
7                   10.57%   1024255             14   3.22%
8                    9.48%    903905             14   3.22%
9                    1.96%    193691             13   2.99%
10                   5.65%    497100             12   2.76%
11                   7.88%    630369             11   2.53%
12                  14.58%    980741             10   2.30%
13                  11.88%    759485              9   2.07%
14                   8.90%    564735              9   2.07%
15                   7.37%    482288              9   2.07%
16                   4.65%    301726              9   2.07%
17                   2.77%    165986              8   1.84%
18                   6.99%    403672              8   1.84%
19                   3.64%    206732              8   1.84%
20                   14.8%    744518              8   1.84%
21                   7.59%    402569              8   1.84%
22                  10.66%    493061              7   1.61%
23                   5.12%    244543              7   1.61%
24                   2.74%    124385              6   1.38%
25                   3.84%    166469              6   1.38%
26                  10.60%    406182              6   1.38%
27                   5.54%    208002              5   1.15%
28                   0.89%     31847              5   1.15%
29                  18.37%    507731              4   0.92%
30                   4.73%    144014              4   0.92%
31                 −11.81%  −439,915             1*       —
32                  14.96%    404063              4   0.92%
33                   3.28%     95606              4   0.92%
34                   2.97%     84762              4   0.92%
35                  −0.20%    −6,018              4   0.92%
36                   2.83%     58343              3   0.69%
37                   7.40%    135163              3   0.69%
38                  17.32%    271524              2   0.46%
39                  −3.20%   −59,278              2   0.46%
40                   6.98%     94970              2   0.46%
41                   4.66%     61059              2   0.46%
42                   2.56%     33998              2   0.46%
43                   9.58%     94810              2   0.46%
44                   4.26%     44812              2   0.46%
45                  10.25%     92014              1   0.23%
46                   8.90%     72487              1   0.23%
47                  15.83%    106503              1   0.23%
48                   3.26%     23160              1   0.23%
49                  14.60%     87822             1*       —
50                   2.77%     17336              1   0.23%
51                   2.35%     13225              1   0.23%
52                  −3.47%    −5,522             1*       —
53                 −18.10%   −19,259             1*       —
54                 −10.46%    −5,809             1*       —
55                 −12.16%    −6,554             1*       —
56                   7.36%  22585613      432 (+1*)  99.31%
57                   7.34%  22615921            435    100%
58                   7.35%  22703743      435 (+1*)    100%
59                   7.10%  22226684      435 (+6*)    100%

   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)  \
   Pop. per elec. vote, 2020[c] Pop. per seat (2020)[a] % US (2020)
0                        732189                  760350     11.800%
1                        728638                  766987      8.698%
2                        717940                  769221      6.428%
3                        721473                  776971      6.029%
4                        684353                  764865      3.881%
5                        674343                  753677      3.824%
6                        694085                  786630      3.521%
7                        669494                  765136      3.197%
8                        652462                  745671      3.116%
9                        671822                  775179      3.008%
10                       663500                  774083      2.772%
11                       663953                  784672      2.576%
12                       642107                  770528      2.300%
13                       650137                  794611      2.134%
14                       628258                  767871      2.062%
15                       639083                  781102      2.098%
16                       616866                  753948      2.025%
17                       615491                  769364      1.837%
18                       617722                  772153      1.844%
19                       589372                  736715      1.759%
20                       577371                  721714      1.723%
21                       570649                  713312      1.703%
22                       568714                  731204      1.528%
23                       558253                  717754      1.499%
24                       582220                  776293      1.390%
25                       563230                  750973      1.345%
26                       529657                  706209      1.265%
27                       565622                  791871      1.182%
28                       515135                  721189      1.076%
29                       545269                  817904      0.976%
30                       531728                  797592      0.952%
31                            —                       —      0.981%
32                       517436                  776154      0.927%
33                       501921                  752881      0.899%
34                       489647                  734470      0.877%
35                       493547                  740320      0.884%
36                       423504                  705841      0.632%
37                       392301                  653835      0.585%
38                       459777                  919553      0.549%
39                       448429                  896858      0.535%
40                       363818                  727636      0.434%
41                       344382                  688765      0.411%
42                       340590                  681180      0.407%
43                       271056                  542113      0.324%
44                       274345                  548690      0.328%
45                       329983                  989948      0.295%
46                       295556                  886667      0.265%
47                       259698                  779094      0.233%
48                       244464                  733391      0.219%
49                       229848                       —      0.206%
50                       214359                  643077      0.192%
51                       192284                  576851      0.172%
52                            —                       —      0.046%
53                            —                       —      0.026%
54                            —                       —      0.015%
55                            —                       —      0.014%
56                       627163                  757745     98.265%
57                       621729                  755796     98.713%
58                       619531                       —     98.918%
59                            —                       —        100%

   % EC (2020)
   % EC (2020)
0       10.04%
1        7.43%
2        5.58%
3        5.20%
4        3.53%
5        3.53%
6        3.16%
7        2.97%
8        2.97%
9        2.79%
10       2.60%
11       2.42%
12       2.23%
13       2.04%
14       2.04%
15       2.04%
16       2.04%
17       1.86%
18       1.86%
19       1.86%
20       1.86%
21       1.86%
22       1.67%
23       1.67%
24       1.49%
25       1.49%
26       1.49%
27       1.30%
28       1.30%
29       1.12%
30       1.12%
31           —
32       1.12%
33       1.12%
34       1.12%
35       1.12%
36       0.93%
37       0.93%
38       0.74%
39       0.74%
40       0.74%
41       0.74%
42       0.74%
43       0.74%
44       0.74%
45       0.56%
46       0.56%
47       0.56%
48       0.56%
49       0.56%
50       0.56%
51       0.56%
52           —
53           —
54           —
55           —
56      98.70%
57      99.44%
58        100%
59           —